<% @requests.each_with_index do |request, index| %>
    <table>
      <thead>
      <tr>
        <td>
          <%= index+1 %>
        </td>
        <td>
          <%= request.request_date %>
        </td>>
      </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
<% end %>