
<% @request.each_with_index do |data, index| %>
  <table>
    <thead>
      <tr>
        <td>
          <%= index+1 %>
        </td>
        <td>
          <%= data.remote_ip %>
        </td>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
<% end %>