// Place all the styles related to the traps controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.trap-list {
  width: 100%;


  thead {
    border: 5px solid #ffffff;
    td {
      font-family: Comic Sans MS;
      color: #d53d3d;
      font-size: 20px;
      background-color: #555151;
      border-radius: 5px;
      height: 25px;
    }
  }

  tbody td {

  }
}
